.rk-range-calendar {
    border: 1px solid #ccc;
    width: 800px;
    margin: 50px auto;
}

.rk-range-calendar > .panel-body {
    height: 300px;
}

.rk-range-calendar .panel-heading {
    text-align: center;
}

.rk-range-calendar a {
    cursor: pointer;
}

.rk-range-calendar .nav-pills li a {
    border-radius: 0;
    border: 1px solid #fff;
}

.rk-range-calendar .nav-pills li.today a {
    border-color: orange;
}

.rk-range-calendar .nav-pills li.partially-active a {
    background-color: rgba(51, 122, 183, 0.18);
}

.rk-range-calendar .nav-pills li.active.partially-active a {
    background-color: #337ab7;
}

.rk-range-calendar .rk-calendar .panel-heading {
    text-align: center;
}

.rk-range-calendar .rk-days {
    border: 1px solid #eee;
}

.rk-range-calendar .rk-day {
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eee;
    /*border-width: 1px 1px 0 0;*/
    display: inline-block;
    width: 14%;
    text-align: center;
    box-sizing: border-box;

    text-decoration: none;
    font-size: .9em;
}

.rk-range-calendar .rk-week {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.2em;
}

.rk-range-calendar .rk-day-muted {
    background: #eee;
    color: #999;
}

.rk-range-calendar .rk-quarters > li + li,
.rk-range-calendar .rk-months > li + li
{
    margin-left: 0;
}

.rk-range-calendar .rk-months > li {
    width: 30%;
    text-align: center;
}

.rk-range-calendar .rk-day.active {
    background-color: #337ab7;
    color: #fff;
}

.rk-range-calendar .disable-text-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rk-range-calendar .today {
    border-color: orange;
}